


nav {
    background-color: #5d7891;
    color: white;
    padding: 10px 20px;
    text-align: center;

}

nav .nav-links a {
    font-size: 30px;  
margin: 0 20px


}

nav .nav-links a {
    color: #1d1c2c; /* ← pick any colour you want */
}


body {

* 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: times new roman;
font-size: 18px;

    background-color: #d4d8f7;


}


img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;


}



h1 {
    text-align: center;
}


.two-col-list {
  columns: 2;
  column-gap: 40px; 
}


.big-center {
  font-size: 22px;
  text-align: center;

}





.form-group {
    margin-bottom: 20px;
}

.section {
    margin: auto;
    padding: 20px;
    margin-bottom: 40px;
    width: 800px
}

input[type="submit"] {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;

}

.my-text-h2 {
  text-align: center;
}




footer {
    background-color: #5d7891;
    color: white;
    padding: 10px 20px;
    text-align: center;

}